/*Definições padronizadas de fonts importadas*/
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');
/*Definições padronizadas de html e body*/
/*Tudo do padrão header, nav e footer é explicado na página about*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sometype Mono', monospace;
    background-color: #111111;
    color: lightgray;
}
/*mantém o rodapé no final*/
body > .conteudo-rodape {
    margin-top: auto;
}

#container-principal {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh; 
}
/*definições padronizadas de elementos no header e menu de navegação*/
#logo {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 2%;
    right: 2%;
    background: lightgray;
    border-radius: 50%;
    overflow: hidden;
}
#logo::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, mediumaquamarine, black);
    transition: .5s;
    animation: logo 4s linear infinite;
}
#logo:hover::before {
    inset: -20px 0px;

}
#logo::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}
#conteudo-logo {
    position: absolute;
    inset: 28px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;

}

#conteudo-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
}

header {
    background-color: black;
    color: mediumaquamarine; 
}

nav {
    height: 130px;
    background: black;
}

ul, li {
    list-style-type: none;
    color: lightgray;
    float: left;
}

.titulo-principal {
    margin: 0;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
}
.titulo-principal:hover {
    color: mediumaquamarine;
    transition: 1s;
}
.form-curso {
    padding: 1rem 2rem; /*definições padrões de padding nessa sessão*/
    transition: all 0.3s ease;  /* efeito de transição suavizado */
    transform: scale(0.8) /*caixas de texto partem desta escala e mudam ao passar o mouse por cima*/
}

.form-curso:hover {
    color: mediumaquamarine;     
    transform: scale(1.0); /*efeito que complementa a definição de cima*/
}

/*definições padronizadas de footer de 3 das 4 páginas do site*/
/*Explico bem na página 'about'!*/
footer {
    background-color: black;
    color: lightgray; 
    padding: 1rem 2rem; 
    }

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#redes-sociais {
    align-items: center;
    gap: 0.5rem;
}

#redes-sociais a:hover {
    color: mediumaquamarine;
}


#direitos {
    font-size: 0.9rem;
}

a, a:link {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 13%;
    color: lightgray;
}

a:hover  {
    cursor: pointer;
    background-color: black;
    color: mediumaquamarine;
    transition: 0.3s;
}

footer div a:hover {
    border: mediumaquamarine;
    border: solid lightgray 1px;
}

.titulo-rodape {
    color:mediumaquamarine;
    text-align: center;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
