/* Definicoes de body header e nav da home page*/
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Sometype Mono', monospace;
    background-color: #111111;
    color: gray;
}

/* Container que engloba toda a pág*/
#container-principal {
    display: flex; /*trabalhando com flex por padrão*/
    flex-direction: column;
    min-height: 100vh; /*Definição de altura minima padrão*/ 
}

/* definições e efeitos do logo */
#logo {
    position: absolute; /*Trabalhando com absolute pra organizar de forma mais 'fixa', inclusive usando top e left como referência*/
    width: 130px;
    height: 130px;
    top: 2%;
    left: 61.5%;
    background: lightgray;
    border-radius: 50%; /*arredondando*/
    overflow: hidden; /*escondendo as partes que passam do limite*/
}

#logo::before {
    content: '';
    position: absolute;
    inset: -10px 140px; /*usando shrthand pra setar conf de top right bootem e left do efeito */
    background: linear-gradient(315deg, mediumaquamarine, black); /*Definindo cor gradiente do efeito*/
    transition: .5s; /*duração da transição*/
    animation: logo 4s linear infinite; /*chamando animação criada*/
}
/*após passar o mouse*/
#logo:hover::before {
    inset: -20px 0px;

}

#logo::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}

#conteudo-logo {
    position: absolute;
    inset: 28px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;

}

#conteudo-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
}

header {
    background-color: black;
    color: mediumaquamarine; 
}
/*definições titulo e efeito usado*/
#titulo-principal {
    border-right: 3px solid; /*deixa visível apenas a borda direita criando o efeito da barra */
    width: 17ch; /*definição de quantos caracteres aparecerão no efeito*/
    white-space: nowrap; /*prevenindo pra não quebrar a linha*/
    overflow: hidden;
    position: absolute;
    right: 14%;
    top: 54px;
    animation: maqEscrever 7s steps(17), piscar 0.5s infinite step-end alternate; /*chamando animação criada*/
}

#slogan {
    position: absolute;
    right: 4%;
    top: 100px;
}

/*definições de menu de navegação padrão*/
nav {
    height: 130px;
    background: black;
}

ul {
    list-style-type: none; /*tirando o marcador de lista*/
}

li {
    color: lightgray;
    float: left;
}

/*definições da imagem principal da pág*/
#main-image {
    height: 530px;
    width: 400px;
    float: left;
    border-radius: 1%;
    margin-left: 10px;
    margin-right: 15px;
}

/*definições de texto principal*/
#frase-principal {
    text-align: center;
}

#texto-apresentacao {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

p{
    text-indent: 55px;
}

h6 {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

/*definições de footer home*/
footer {
    padding: 1rem 0;
    background-color: black;
    color: lightgray;
    text-align: center;
    height: 365px;
    bottom: 0%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between; /*mantém espaço entre os itens do footer*/
    align-items: center;
    margin: 0 auto; /* centralizando o conteudo */
}
/*definições de formulario de contato*/
form {
    display: flex;
    flex-direction: column; 
    position: absolute;
    right: 5%;
    top: 1%;
    gap: 10px; 
}

form input,
form textarea,
form button {
    border: none;
    border-radius: 5px;
}

form input,
form textarea {
    background-color: #555;
    color: whitesmoke;
    outline: none; /*tira a borda amarela do form ao selecionar*/
}

form button {
    background-color: black;
    border: solid 1px lightgray;
    border-radius: 5px;
    color: lightgray;
    cursor: pointer;/*estilo do cursor ao repousar sobre o botão*/
}

button:hover {
    color: mediumaquamarine;
    border: solid 1px mediumaquamarine;
}
/*definições e estilo de elementos de redes sociais*/
#redes-sociais {
    position: absolute;
    left: 5%;
    top: 1%;
}

.titulo-rodape {
    color:mediumaquamarine;
}

a, a:link {
    text-decoration: none;/*retirando padrao de sublinha dos links */
    padding: 8px 16px; /*definições padrões de padding dos elementos a*/
    border-radius: 13%;
    color: lightgray;
}

a:hover  {
    cursor: pointer;
    background-color: black;
    color: mediumaquamarine;
    transition: 0.3s; /*velocidade da tranasição*/
}

footer div a:hover {
    border: mediumaquamarine;
    border: solid lightgray 1px;
}

#direitos {
    position: absolute;
    font-size: 0.9rem; /*padrão de dimensões all right...*/
    left: 10%;
    bottom: 4%;
}

/*criando animação da logo, roda saindo do grau 0 até o grau 360 em 100% do giro*/
@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*criando animação maq escrever, saindo de width:0 e chegando na definição setada no próprio titulp-principal*/
@keyframes maqEscrever {
    from {
        width: 0;
    }
}
/*criando animação de piscar p maqEscrever do titulo*/
@keyframes piscar {
    50% {
        border-color: transparent;
    }
}
